*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.header{
    width: 250;
    height: 250px;
    border-radius: 15px;
    justify-content: center;
    display: inline-block;
    margin-left: 40%;
    text-align: center;
    margin-top: 100px;
}

#botao{
    padding: 15px;
    margin-top: 20%;
    border-radius: 15px;
    background-color: aqua;
}

#botao:hover{
    cursor: pointer;
    padding: 17px;
}

#cor{
    display: block;
    margin-left: 9%;
    padding: 35px;
    border-radius: 15px;
    border: none;

}

#fundo{
    transition: background-color 1.0s ease;
}